html{
    font-size: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #F5F5F5;
}
.header{
    background-color: #202846;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 2.4rem;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    margin-left: 10rem;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 75%;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.h1{
    background-color: #C6C6DC;
    min-height: 140px;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: 62px;
    align-items: center;
    color: #202846;
    padding-left: 18rem;
    padding-top: 4rem;
    min-height: 140px;
    
}
.main{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    
}
.content{
    background-color: #E8E8E8;
    height: 73px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 3% 0;
}
.content-h2{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    padding-left: 35rem;
    color: rgba(0, 0, 0, 0.61);
}
.content-img{
    padding-left: 30rem;
}
.build{
    margin-top: 3rem;
}
.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}
.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
    color: #353C57;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description{
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
    padding-bottom: .5rem;
}

.card-star, .card-btn{
    position:absolute;
}

.card-star{
    right: 1rem;
    top: 1rem
}

.card-btn{
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}
/* personal office */
.office-h3{
    background-color: #C6C6DC;
    width: 70%;
    height: 140px;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #202846;
    padding-left: 14rem;
}
.personal{
    position: relative;
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #BDBDC6;
    width: 70%;
    height: 498px;
    margin: 3rem auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.avatar{
    width: 195px;
    margin: 5rem 10rem;
}
.login{
    width: 250px;
    margin-left: 7rem;
}
.seting{
    width: 250px;
    margin-left: 7rem;
    margin-top: 3rem;
}
.nova{
    position: absolute;
    left: 35rem;
    top: 0;
    padding-top: 0;
    
}
p{
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #FFFFFF;
    color: #353C57;
    line-height: normal;
}
.name{
    width: 335px;
}
span{
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    align-items: center;
}
.exit{
    width: 95px;
    margin-left: 55rem;
}
.contact{
    height: 140px;
    background-color: #C6C6DC;
    margin-top: 10rem;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10rem;
    color: #202846;
}
.footer{
    position: relative;
}
.footer1{
    font-weight: 400;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}
.telefon{
    position: absolute;
    left: 10rem;
}
.footer-title{
    border-bottom: 3px solid black;
    
}
.time-work{
    margin-left: 40rem;
}
.work2{
    border-bottom: 3px solid black;
    width: 265px;
    
}
.mail1{
    position: absolute;
    top: 0;
    left: 100rem;
}
.mail2{
    border-bottom: 3px solid black;
}
.adress{
    position: absolute;
    left: 10rem;
    top: 30rem;
}
.adress-title{
    width: 385px;
    border-bottom: 3px solid black;
}
.map{
    margin-left: 8rem;
    margin-top: 10rem;
    height: 335px;
    width: 575px;
    overflow: hidden;
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    box-sizing: border-box;
}
.and{
    background-color: #202846;
    height: 47px;
    margin-top: 10rem;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EEECF1;
    padding-left: 5rem;
    padding-top: 2rem;
}
.btm{
    position: fixed;
    bottom: 5rem;
    right: 3rem;
}
.menu1:hover{
    color: #AEAEE2;
}
.menu2:hover{
    color: #AEAEE2;
}
.menu3:hover{
    color: #AEAEE2;
}
.menu4:hover{
    color: #AEAEE2;
}
.menu5:hover{
    color: #AEAEE2;
}
.card-star:hover{
    background-color: yellow;
}
.card-btn:hover{
   background-color: crimson;
}