html{
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;
    background-color: #FFFFFF;
}

.header{
    position: relative;
    border: 1px solid black;
    background-color: black;
    box-sizing: border-box;
    height: 770px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-top: 3rem;
}
.bikcraft{
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
}
.Bicicletas{
    margin-left: 35rem;
}
.foto{
    width: 640px;
    height: 800px;
}
.foto1{
    position: absolute;
    left: 65rem;
    top: 10rem;
}
.subtitle{
    position: absolute;
    top: 30rem;
    left: 7rem;
    width: 517px;
}
.text{
    width: 524px;
    padding-top: 3rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B2B2B2;
}
.fon{
    background-color: #F6AD09;
    border-radius: 5px;
    width: 220px;
    height: 60px;
    margin-top: 3rem;
}
.btn{
    width: 150px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #332200;
    padding-top: 2rem;
    padding-left: 3.5rem;
}
.second{
    margin-top: 15rem;  
}   

.second-img{
    width: 100%;
}
.Tecnologia{
    border: 1px solid black;
    background-color: black;
    height: 945px;
    margin-top: 20rem;
    position: relative;
}
.h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #B2B2B2;
    padding-top: 5rem;
    padding-left: 5rem;
}
.escolhe{
    padding-left: 5rem;
    padding-top: 5rem;
}
.diferencial{
    position: absolute;
    left: 60rem;
    top: -10rem;
    width: 650px;
    height: 1120px;
}

.text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B2B2B2;
    width: 535px;
    padding-left: 5rem;
    padding-top: 2rem;
}
.h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFBB00;
    padding-top: 3rem;
    padding-left: 5rem;
}
.line{
    position: absolute;
    border-bottom: 1px solid #000000;
    background-color: #FFBB00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 268px;
    height: 3px;
    left: 5rem;
    
}
.motor div{
    padding-left: 4.5rem;
    padding-top: 8rem;
}
.motor-title{
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    left: 5rem;
    top: 60rem;
}
.motor-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 258px;
    height: 96px;
    color: #B2B2B2;
    position: absolute;
    left: 1rem;
    top: 65rem;
}
.rastreador div img{
    position: absolute;
    left: 35rem;
    top: 69.1rem;
}
.rastreador-title{
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    top: 68rem;
    left: 40rem;
}
.rastreador-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B2B2B2;
    width: 258px;
    height: 96px;
    position: absolute;
    left: 35.5rem;
    top: 72.7rem;
}
.nossos{
    position: relative;
    height: 575px;
}
.nossos-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #111111;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 15rem;
    left: 4rem;
}
.nossos-title span{
    color: #FFBB00;
}
.brand{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    left: 1rem;
    top: 30rem;
}
.brand img{
    padding-left: 10rem;
    padding-top: 5rem;
}
.brand2{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    left: 34rem;
    top: 30rem;
}
.brand2 img{
    padding-left: 10rem;
    padding-top: 5rem;
}
.brand3{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    top: 30rem;
    left: 67rem;
}
.brand3 img{
    padding-left: 10rem;
    padding-top: 5rem;
}
.brand4{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    top: 30rem;
    left: 100rem;
}
.brand4 img{
    padding-left: 10rem;
    padding-top: 5rem;
}

.brand5{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    left: 1rem;
    top: 44rem;
}

.brand5 img{
    padding-left: 5rem;
    padding-top: 5rem;
}

.brand6{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    left: 34rem;
    top: 44rem;
}
.brand6 img{
    padding-left: 8rem;
    padding-top: 5rem;
}
.brand7{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    left: 67rem;
    top: 44rem;
}
.brand7 img{
    padding-left: 5rem;
    padding-top: 5rem;
}
.brand8{
    border: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    width: 320px;
    height: 135px;
    box-sizing: border-box;
    position: absolute;
    left: 100rem;
    top: 44rem;
}
.brand8 img{
    padding-left: 5rem;
    padding-top: 5rem;
}
/* Наступний розділ seguros */

.seguros{
    border: 1px solid black;
    background-color: #FFBB00;
    height: 680px;
    margin-top: 10rem;
    position: relative;
}
.seguros-fon img{
    width: 700px;
    height: 680px;
}
.seguros-text{
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    width: 510px;
    color: #332200;
    position: absolute;
    left: 78rem;
    top: 25rem;
}
.symbols{
    position: absolute;
    left: -5rem;
    top: -1rem;
}
.symbols2{
    position: absolute;
    top: 22rem;
}
.name{
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #664400;
    left: 78rem;
    top: 55rem;
}
/* last */
.last{
    border: 1px solid black;
    background-color: #161616;
    height: 737px;
    position: relative;
}
.last-text{
    position: absolute;
    left: 10rem;
    top: 10rem;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
}
.last-text span{
    color: #F6AD09;
}
.border1{
    border: 1px solid black;
    width: 470px;
    height: 345px;
    background-color: #000000;
    position: absolute;
    left: 20rem;
    top: 25rem;
    border-radius: 7px;
}
.border-text{
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #9C9C9C;
    left: 5rem;

}
.border-text2{
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    left: 30rem;
}
.mensal{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    padding-left: 36.5rem;
    padding-top: 5rem;

}
.border-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 7rem;
    padding-left: 6rem;

}
.border-text3 img{
    position: absolute;
    left: 3rem;
    top: 7.6rem;
}

.list-text{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list-text li{
    list-style: none;
}
.list-text li::before{
    content: url("../index.img/Rectangle\ 4.png");
    box-sizing: border-box;
}
.list-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.list-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 2rem;
}
.list-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 2rem;
}
.list-text4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 2rem;
}
.text11{
    padding-left: 1.5rem;
}
.text22{
    padding-left: 1.5rem; 
}
.text33{
    padding-left: 1.5rem;    
}
.text44{
    padding-left: 1.5rem;    
}
.se1{
    border: 1px solid black;
    background-color: #2E2E2E;
    box-sizing: border-box;
    width: 177px;
    height: 53px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #CCCCCC;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    margin-top: 3rem;
    margin-left: 5rem;
}
.border2{
    position: absolute;
    left: 75rem;
    top: 18rem;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #000000;
    width: 456px;
    height: 456px;
}
.ouro{
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFBB00;
    padding-top: 2rem;
    padding-left: 5rem;

}
.r99{
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    top: 2rem;
    left: 30rem;
}
.mensal22{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    padding-left: 37rem;
}
.border2-text{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.border2-text{
    list-style: none;
}
.border2-text li::before{
content: url("../index.img/Rectangle\ 4.png");
box-sizing: border-box;
}
.border2-text2{
    padding-top: 1.5rem;
}
.border2-text3{
    padding-top: 1.5rem;
}
.border2-text3{
    padding-top: 1.5rem;
}
.border2-text4{
    padding-top: 1.5rem;
}
.border2-text5{
    padding-top: 1.5rem;
}
.border2-text6{
    padding-top: 1.5rem;
}
.border22{
    padding-left: 1.5rem;
}
.border23{
    padding-left: 1.5rem;
}
.border24{
    padding-left: 1.5rem;
}
.border25{
    padding-left: 1.5rem;
}
.border26{
    padding-left: 1.5rem;
}
/* останній блок footer */
.footer{
    border: 1px solid black;
    background-color: #000000;
    height: 474px;
    position: relative;
}
.footer-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 5rem;
    padding-left: 10rem;
}
.footer-contato{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 50rem;
    top: 6rem;
}
.footer-tel{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    left: 49.5rem;
    top: 12rem;
}
.footer-mail{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    left: 49.5rem;
    top: 15rem;
}
.footer-addres{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    left: 49.5rem;
    top: 21rem;
}
.footer-city{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    left: 49.5rem;
    top: 24rem;
}
.social{
    padding-top: 25rem;
    padding-left: 50rem;
}
.face{
    padding-left: 2rem;
}
.you{
    padding-left: 2rem;
}
.info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 82rem;
    top: 6rem;
}
.info-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.015em;
    color: #FFBB00;
    position: absolute;
    left: 82rem;
    top: 12rem;
}
.info-text2{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    position: absolute;
    left: 82rem;
    top: 17rem;
}
.info-text3{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    position: absolute;
    left: 82rem;
    top: 20rem;
}
.info-text4{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
    position: absolute;
    left: 82rem;
    top: 23rem;
}
.h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #9C9C9C;
    padding-left: 10rem;
    padding-top: 5rem;
    
}
