body{
    background-color: #E5E5E5
}

.icon{
    border: 1px solid black;
    height: 269px;
    width: 269px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: black;
    margin: 150px 1%;
    

}
img{
    width: 170px;
    padding-top: 70px;
    padding-left: 47px;
}
.flag{
    width: 55px;
    height: 40px;
    padding-top: 20px;
    padding-left: 100px;
}
.icon2{
    
    border: 1px solid black;
    height: 269px;
    width: 269px;
    box-sizing: border-box;
    display: inline-block;
    margin: 150px 1%;
    background-color: yellow;
    
    
}
.blue{
    width: 250px;
    box-sizing: border-box;
    padding-top: 0;
    
    padding-bottom: 110px;
}
.img2{
    padding-top: 0;
    padding-left: 0;
    width: 269px;
    
}

.icon3{
    
    border: 1px solid black;
    border-radius: 100%;
    height: 269px;
    width: 269px;
    box-sizing: border-box;
    display: inline-block;
    background-color:yellow;
    vertical-align: top;
    margin: 150px 1%;
    
}
.to3{
    padding-top: 150px;

}
