@keyframes img-anime-left{
from{
    transform: translateX(-100vw);

}
to{
    transform: translateX(0);

}
}
@keyframes img-anime-right{
    from{
        transform: translateX(100vw);
    }
to{
    transform: translateX(0);
}
}
@keyframes img-anime-left-two{
    from{
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes img-anime-right-two{
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes one-hair{
    0% {
        top: 0;
        left: 0;
    }
    25%{

        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}
@keyframes circle-two{
    0%{
        top: 0;
        left: 50%;
    }
    25%{
       
        top: 50%;
        left: 50%;
    }
    50%{
       
        top: 50%;
        left: 0;
    }
    75%{
     
        top: 0;
        left: 0;
    }
    100%{
       
        top: 0;
        left: 50%;
    }
}
@keyframes circle-three{
    0%{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 0;
    }
    50%{
        top: 0;
        left: 0;
    }
    75%{
        top: 0;
        left: 50%;
    }
    100%{
        top: 50%;
        left: 50%;
    }
}
@keyframes circle-four{
    0%{
        
        top: 50%;
        left: 0;
    }
    25%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 50%;
    }
    100%{
        top: 50%;
        left: 0;
    }
}