html{
    font-size: 10px
}
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,700&display=swap');

body{
    font-family: 'Rosario', sans-serif;
    margin: 0;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    align-self: stretch;
}
header .logo img{
    height: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

.nav a{
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    
}
/* screen1 */
.screen{
    min-height: 90vh;
    border: 1px solid black;
    box-sizing: border-box;
    outline: hidden;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 90vh;
    margin-top: 3rem;
    
}
.container div>img{
    width: 30rem;
}
.left-two{
    margin-left: 5rem;
}
.left-one{
    transform: translateX(-100vw);
    animation: img-anime-left 2s linear 1 forwards;
}
.right-one{
    transform: translateX(100vw);
    animation: img-anime-right 2s linear 1 forwards;
}

.left-two{
    transform: translateX(-100vw);
    animation: img-anime-left-two 1s linear 1 forwards;
}
.right-two{
    transform: translateX(100vw);
    animation: img-anime-right-two 1s linear 1 forwards;
}

/* screen2 */
.services{
    display: flex;   
}
.services .one{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;

}
.services .two{
    width: 40%;
}
.services .two img{
    width: 100%;
}
.services .one div{
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.one div img{
    width: 100%;

}
.one p{
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    margin-top: 25rem;
}
.circles-one{
    top: 0;
    left: 0;
    animation: one-hair 5s linear infinite;
}
.circles-two{
    top: 0;
    left: 50%;
    animation: circle-two 5s linear infinite;
}
.circles-three{
    top: 50%;
    left: 50%;
    animation: circle-three 5s linear infinite;
}
.circles-four{
    top: 50%;
    left: 0;
    animation: circle-four 5s linear infinite;
}