html{
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
  }
body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background: linear-gradient(90deg, #3E718E 0%, #64969B 100%);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow: hidden;
    margin: .5rem auto;
    
}
.wrapper-container{
    position: relative;
	width: 70vw;
    height: 98vh;
	background:#FFF;
    
}
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header-content{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 32px;
}
.logo{
    font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1;
	background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.header-menu{
    display: none;
}
.header-ul{
    display: flex;
    flex-direction: row;
}
.header-home{
    margin-right: 25px;
}
.home{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #24445B;
    transition: all 0.5s;
}
a{
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    box-sizing: border-box;
}
.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 56%;
}
.title{
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 3.6rem;
    color: #000000;
}
.container{
    display: flex;
    align-items: center;
    min-height: 100%;
    overflow: hidden;
}
.info{
    position: relative;
    margin: 0 auto;
    width: 70vw;
    height: 97.5vh;
    background: #FFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content{
    margin-left: 5rem;
    margin-top: 3rem;
}
.kreativ{
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.title{
    margin-left: 5rem;
    width: 205px;
    font-size: 20px;
    line-height: 36px;
    color: black;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-content{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.form-one-full{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.full-name{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
}
.full-name-input{
    padding: 3px 0 3px 10px;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    background: transparent;
}
.full-name-input:focus{
    outline: none;
}
.full-name-input::placeholder{
    font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: #CCCCCC;
}
.form-two-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.email-form{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
}
.email-input{
    padding: 3px 0 3px 10px;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    background: transparent;
}
.email-input:focus{
    outline: none;
}
.email-input::placeholder{
    font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: #CCCCCC;
}
.form-three-tel{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.tel-form{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
}
.tel-input{
    padding: 3px 0 3px 10px;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    background: transparent;
}
.tel-input:focus{
    outline: none;
}
.tel-input::placeholder{
    font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: #CCCCCC;
}
.form-four-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.password-form{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
}
.password-input{
    padding: 3px 0 3px 10px;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    background: transparent;
}
.password-input:focus{
    outline: none;
}
.password-input::placeholder{
    font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: #CCCCCC;
}
.password{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A8A8A8;
}
.contain{
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A8A8A8;
}
.location{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
}
.location span{
    padding-left: 10px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #A8A8A8;
}
.country{
    width: 100%;
    margin-top: .5rem;
    padding: 3.5px 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    background: inherit;
    appearance: none;
}
.country:focus{
    outline: none;
}
.content-color{
    flex: 1 1 44%;
	display: flex;
	align-items: center;
	background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
	box-shadow: 0px 0px 10px 9px #4E7577;
	margin-top: -64px;
}
.singup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    margin-top: 5rem;
    width: 375px;
    height: 34px;
}

.btn{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}
.btn a{
    text-decoration: none;
    color: white;
}
.user{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.already{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #C4C4C4;
    margin-top: 2rem;
}
.login{
    padding-left: 10px;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration-line: underline;
    color: #476D73;
}
.section-two{
    flex: 1 1 44%;
    display: flex;
    align-items: center;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4e7577;
    margin-top: -64px;
    height: 650px;
}
.section-content{
    padding-left: 4rem;
}
.content-text{
    font-weight: 700;
	font-size: 4.8rem;
	line-height: 6.0rem;
	color: #FFFFFF;
	text-shadow: 2px 2px rgba(255, 255, 255, 0.1);
	opacity: 0.8;
}
.text-two{
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}
