html{
    font-size: 10px
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    width: 1440px;
    background-color: #F5F5F5;
    position: fixed;
    position: sticky;
    
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 4;
}

.first{
    
    background-color: #202846;
    height: 90px;
    width: 1440px;
    text-align: center;
    color: #FFFFFF;
}

.logo{
    position: absolute;
    width: 178px;
    height: 70px;
    left: 128px;
    top: 10px;
    bottom: 15px;

}
.content{
    
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    top: 18;
    
}
.content1{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-left: 40rem;


}
.content2{
    color: #FFFFFF;
    text-decoration: none;
    padding-right:  5rem;
    padding-top: 3rem;

}
.content3{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 5rem;
    padding-top: 3rem;

}
.content4{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 5rem;
    padding-top: 3rem;

}
.content5{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 5rem;
    padding-top: 3rem;

}
    

    
.lang{
    width: 115px;
    height: 75px;
    padding-left: 130rem;
}
.h1{
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #202846;
    background-color: #C6C6DC;
    width: 100%;
    height: 14rem;
    padding-left: 20rem;
    padding-top: 0;
    box-sizing: border-box;
}
.h4{ 
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 80%;
    height: 73px;
    left: 216px;top: 285px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
}
main{
    margin-top: 25rem;
    position: relative;
}
.build{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}
.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
    color: #353C57;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description{
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
    padding-bottom: .5rem;
}

.card-star, .card-btn{
    position:absolute;
}

.card-star{
    right: 1rem;
    top: 1rem
}

.card-btn{
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}
.h2{
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #202846;
    background-color: #C6C6DC;
    width: 80%;
    height: 13rem;
    padding-left: 15rem;
    padding-top: 0;
    box-sizing: border-box;
}
.office{
    position: absolute;
    z-index: 1;
    top: 150rem;
    left: 20rem;
    background-color: #BDBDC6;
    width: 70%;
    height: 450px;
    text-align: center;
    box-shadow: 0px 4px 4px #000000
    
}
.info{
    position: absolute;
    top: 8rem;
    left: 10rem;
}
.foto{
    width: 195px;
    height: 180px;
    
}
.seting{
    width: 250px;
    height: 50px;
    position: absolute;
    left: -2rem;
    z-index: 1;
    top: 28rem;
}
.avatar{
    width: 250px;
    height: 50px;
    position: absolute;
    left: -2rem;
    z-index: 1;
    top: 21rem;
}
.enter{
    position: absolute;
    left: 40rem;
    top: 3rem;
}
p{
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
}
.exit{
    position: absolute;
    top: 200rem;
    left: 60rem;
}
.h5{
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #202846;
    background-color: #C6C6DC;
    width: 100%;
    height: 13rem;
    box-sizing: border-box;
    position: absolute;
    top: 210rem;
    padding-left: 15rem;
}
.map{
    position: absolute;
    top: 250rem;
    left: 80rem;
}
.contact{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 235rem;
    left: 3rem;
    display: inline;
    justify-content: space-between;
}
.tel{
    width: 115px;
    border-bottom: 3px solid black;
    margin-bottom: 4rem;
    margin-left: 25rem;
}

.work{
    border-bottom: 3px solid black;
    margin-bottom: 4rem;}

.mail{
    border-bottom: 3px solid black;
    margin-bottom: 4rem;}
.adres{
    border-bottom: 3px solid black;
    margin-bottom: 4rem;}
   
    .h6{
        font-weight: 400;
        font-size: 48px;
        font-style: italic;
        line-height: 62px;
        display: flex;
        align-items: center;
        color: #EEECF1;
        background-color: #202846;
        width: 100%;
        height: 9rem;
        padding-left: 15rem;
        padding-top: 0;
        box-sizing: border-box;
        position: absolute;
        top: 300rem;

    }
    #fixed-div {

        width: 100px;
        height: 100px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(0, 0, 255, .5);
        position: fixed;
        z-index: 3;
        bottom: 100px;
        right: 10px;
        transition: all .5s;
    }
    #fixed-div:hover {

        background-color: rgba(0, 0, 255, 1);
    }


    a{

        color:white;
        line-height: 5;
        font-size: 2rem;
        text-shadow: 2px 2px 2px black;
        text-decoration: none;

    }

.content1:hover{
    background-color: #202846;
    color: #AEAEE2;
    box-shadow: inset 0 0 0 3px #3a7999;

}
.content2:hover{
    background-color: #202846;
    color: #AEAEE2;
    box-shadow: inset 0 0 0 3px #3a7999;
}
.content3:hover{
    background-color: #202846;
    color: #AEAEE2;
    box-shadow: inset 0 0 0 3px #3a7999;
}
.content4:hover{
    background-color: #202846;
    color: #AEAEE2;
    box-shadow: inset 0 0 0 3px #3a7999;
}
.content5:hover{
    background-color: #202846;
    color: #AEAEE2;
    box-shadow: inset 0 0 0 3px #3a7999;
}
.card:hover{
    background-color: #AEAEE2;
}
.card-star:hover{
   background-color: yellow;
}
.card-btn:hover{
background-color: crimson;
}