body{
    font-family: 'Inika', serif;
    font-weight: 700;
    background-color: #E5E5E5;
}
h1{
font-weight: 700;
font-size: 40px;
width: 60%;
margin-left:80px;
margin-top:72px;   

}
.line{
    border-bottom: 5px solid #3E45E8;
    padding-bottom: 25px;
    width: 402px;
    margin-left: 80px;
}
.header{
    height: 110px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding-top: 25px 0;
    
}
.header-spanone{
    color:#3E45E8 ;
    font-family: 'M PLUS 1', sans-serif;
}
.header-span{
    color: #E8C23E;
    font-family: 'M PLUS 1', sans-serif;
}
.banner{
    height: 803px;
    background-image: url("../index.img/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 206px;
    padding-left: 80px;
    box-sizing: border-box;
}
.content{
    background-image: url("../index.img/flag.png");
    background-repeat: no-repeat;
    height: 439px;
    width: 1036px;
    font-size: 48px;
    color: white ;
    padding-left: 5%;
    padding-top: 1%;
    box-sizing: border-box;
}
.main{
padding: 0 80px;

}
  
.card{
    width: 30%;
    color: black;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    border-radius: 7%;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, .5);
  
}
.cardone{
    padding: 1px;
    border-radius: 8%;
}

.card-margin{
    margin: 0 4%;
}
.image{
    width: 100%;
    
}
.title{
    font-size: 24px;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}
.subtitle{
    font-size: 18px;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}
.text{
    margin-left: 300px;
}

.h1text{
    font-weight: 700;
    font-size: 40px;
    width: 60%;
    margin-top: 74px;
    margin-left: 430px;

}
.linetext{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin-left: 513px;
    margin-top: 21px;
}


.map{
   
    height: 537px;
    margin-left: 294px;
    margin-top: 40px;
}
.bottom{
    width: 490px;
    font-size: 64px;
    text-align: center;
    margin-left: 460px;
    margin-top: 30px;
    border: 1px solid #2A61F0;
    display: inline-block;
    background-color: #2A61F0;

}
a{
    margin-left: 30px;
    color: white;
    text-decoration: none;
}
    
.footer-text1{
    font-family: 'M PLUS 1';
    font-size: 48px;
    color: #3E45E8;
    margin-left: 110px;
    
}
.footer-text2{
    font-family: 'M PLUS 1';
    font-size: 48px;
    color: #E8C23E;  
}
.information{
    background-image: url("../index.img/Rectangle\ 7.png");
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
    margin-top: 21px;
    
    
}
.mail1{
    margin-top: 10px;
}
.mail{
font-family: 'Marcellus SC';
font-weight: 400;
font-size: 36px;
line-height: 45px;

text-align: center;
color: #A89D9D;
text-decoration: none;
margin-left: 110px;

width: 150px;
}
.tel1{
    margin-top: 20px;
}
.tel{
font-family: 'Marcellus SC';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
letter-spacing: 0.1em;
text-align: center;
color: #A89D9D;
text-decoration: none;
width: 350px;
margin-left: 110px;

}
.social{
    margin-left: 100px;
    margin-top: 20px;
}

.insta{
    width: 60px;

}
.twitt{
    width: 60px;
}
.face{
    width: 60px;
}
.teleg{
    width: 60px;
}